nav {
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
h4 {
    color: rgb(43, 168, 226);
    margin-left: 10px;
  }

button{
    background-color: transparent;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
}
/* Color del texto al pasar el mouse por encima */
button:hover {
    color: rgb(43, 168, 226); 
}

div {
    margin-right: 10px;
}


